.Login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}
.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    margin-block: 10px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(46, 105, 215);
}
.loginDesc{
    font-size: 24px;
}
.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.LoginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left:20px ;
    outline: none;
}
.loginbtn{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(46, 105, 215);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color: rgb(46, 105, 215);
    cursor: pointer;
}
.loginRagistrationBtn{
    height: 50px;
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: rgb(46, 105, 215);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
    background-color: green;
}